
nav{

	background: green;
	width: 500px;
}

nav ul li{

	display: inline-block;
	padding: 20px 10px;

	

}

nav ul li a{

	color: #FFF;
	text-decoration: none;
	padding: 20px 10px;
}

nav ul li a:hover{

	background: red;
	transition: .5s all ease-out;
	
}

.activo{

	background: red;
}